body {
    background-color: #20b342;
    color: white;
}

strong {
    color: rgb(4, 104, 17);
}

h1 {
    color: #333333;
    }

h2 {
    color: #333333;
    font-size: 20px;
}

p {
    color: #333333;
    font-size: 20px;
}

button {
    background-color: rgb(36, 212, 197);
    color: white;
    display: inline;
    width: 100px;
    height: 60px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 0px solid rgb(36, 212, 197);
}

