body {
    background-color: #20b342;
    color: white;
}

strong {
    color: rgb(4, 104, 17);
}

h1 {
    color: #333333;
    }

h2 {
    color: #333333;
}

p {
    color: #333333;
}

button {
    background-color: rgb(36, 212, 197);
    color: white;
}

